# Pfade
PAPERLESS_DATA=/opt/data/paperless/data
PAPERLESSS_MEDIA=/opt/data/paperless/media
PAPERLESSS_EXPORT=/opt/data/paperless/export
PAPERLESSS_CONSUME=/opt/data/paperless/consume

# Einstellungen Postgres
POSTGRES_DB=paperless
POSTGRES_USER=paperlessuser
POSTGRES_PASSWORD=ChangeMe#2026!

# Weitere Einstellungen
USERMAP_UID=1000
USERMAP_GID=1000

# Einstellungen Paperless
PAPERLESS_OCR_LANGUAGE=deu
PAPERLESS_OCR_LANGUAGES=deu eng
PAPERLESS_URL=<adresse>
PAPERLESS_SECRET_KEY=<Secret>
PAPERLESS_TIME_ZONE=Europe/Berlin
